* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Pretendard";
  font-weight: 400;
}
body.active {
  overflow: hidden;
}
/* Header */
/* Header:hamberger */
input[id="trigger"] {
  display: none;
}
label[for="trigger"] {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
}
label[for="trigger"] span {
  display: block;
  height: 2px;
  background-color: #000;
  position: absolute;
  right: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 10;
}
label[for="trigger"] span:nth-child(1) {
  top: 0;
}
label[for="trigger"] span:nth-child(2) {
  top: 50%;
}
label[for="trigger"] span:nth-child(3) {
  top: 100%;
}
input[id="trigger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
input[id="trigger"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="trigger"]:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
/* sidebar */
.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fffefe;
  top: 0;
  right: -100%;
  transition: 0.3s;
  z-index: 1;
  /* visibility: hidden; */
}
.sidebar.active {
  visibility: visible;
}
input[id="trigger"]:checked ~ .sidebar {
  right: 0;
}
.sidebar ul {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar li a {
  display: block;
  font-weight: 700;
  font-size: 3em;
  line-height: 3.5em;
  text-align: center;
}
/* input[id=trigger]:checked+label {
  right: 200px;
}
/*  hover Event*/
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 53px;
  background: var(--black);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}
/* Main:Section_1 */
.sec_1 {
  position: relative;
}
.sec_1_inner {
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}
.sec_1_textbox {
  position: absolute;
}
.sec_1_textbox h1 {
  padding: 30px 0;
}
.f_times {
  font-family: Times;
}
.rotate_text img {
  position: absolute;
  left: calc((100% - 1921px) / 2 + 1597px);
  bottom: calc((100% - 500px) / 2 + 10px);
  animation: rotatetext 10s linear infinite;
}
/* Main:Section_2 */
.sec_2_inner {
  margin: 0 auto;
  padding: 0 10px;
}
.sec_2_contents {
  display: flex;
  align-items: center;
}
.sec_2_topbox,
.sec_2_bottombox {
  flex: 1;
}
.sec_2_textbox {
  display: flex;
}
.sec_2_textbox span {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background: linear-gradient(
    83deg,
    rgba(246, 73, 40, 1) 0%,
    rgba(255, 148, 162, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.sec_2_textbox h1 {
  font-size: 3.5em;
}
.sec_2_textbox span {
  font-size: 4em;
}
.sec_2_topbox p {
  font-size: 20px;
  padding: 35px 0 60px 0;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.sec_2_topbox img {
  display: block;
  margin: 30px auto;
}
/* sec_2_bottom */
.sec_2_bottombox {
  width: 90%;
  margin: 0 auto;
}
.info_box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 55px;
}
.info_title > b {
  font-weight: 700;
}
.skill-contents > div {
  display: flex;
}
.skill-contents > div p:nth-child(2) {
  margin: 0 10px;
}
.career-contents div b {
  font-weight: 700;
}
.career-contents p {
  color: #777777;
  line-height: 1.6em;
}
/* Main:section_3 */
.sec_3 {
  overflow: hidden;
  position: relative;
}
.sec_3_contents {
  display: flex;
  align-items: center;
}
.sec_3_text {
  text-align: center;
  width: 6em;
  font-size: 2.15em;
}
.sec_3_img > img {
  border-radius: 10px;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* slide_part */
.slide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  animation: leftMove 8s infinite linear;
}
.sec_3_middle {
  top: 170px;
  animation-duration: 7s;
}
.sec_3_bottom {
  top: 340px;
  animation-duration: 12s;
}
/* Main:section_4 */
.sec_4_inner h1 {
  font-size: 3.5em;
  text-align: center;
  margin: 80px 0;
}
.sec_4_container > h3 {
  font-size: 2em;
  margin: 50px 0;
  font-weight: 700;
}
/* .sec_4_web > div h3 {
  font-size: 1.25em;
  margin-bottom: 1px;
} */
.sec_4_contents {
  display: flex;
}
.sec_4_web {
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  cursor: pointer;
}
.sec_4_photo {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sec_4_text_container {
  flex: 1;
}
.sec_4_design {
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec_4_de_photo {
  position: relative;
  overflow: hidden;
  background-color: #000;
  width: 230px;
  height: 230px;
  border-radius: 10px;
}
.sec_4_de_photo:hover > img {
  opacity: 0.45;
}
.sec_4_de_photo p {
  font-size: 1.3em;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.25s;
}
.sec_4_de_photo:hover p {
  display: block;
}
/* sec_4:photo part */
.sec_4_web .sec_4_photo {
  border-radius: 15px;
  margin-right: 15px;
}
.sec_4_web:nth-of-type(1) .sec_4_photo {
  background: url(../img/diptyque_page.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: 2s;
}
.sec_4_web:nth-of-type(2) .sec_4_photo {
  background: url(../img/rollsroyce_page.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: 2s;
}
.sec_4_web .sec_4_photo:hover {
  background-position: bottom;
}
.sec_4_photo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.sec_4_de_photo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* sec_4 modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  overflow: auto;
}
.modal_container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  height: 70%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* modal scroll-bar 없애기 */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
/* modal scroll-bar 없애기 */
.modal_container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.modal_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.modal_contents img {
  display: block;
  margin: 0 auto;
}
.close-btn {
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
}
.close-btn i {
  font-size: 23px;
  color: #fff;
  font-weight: 700;
}
.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 1.8em;
}
/* Footer */
.footer_inner {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.footer_right,
.f_icon {
  display: flex;
  align-items: center;
}
.f_icon li a {
  font-size: 1.8em;
}
.kakao {
  width: 25px;
  height: 25px;
  transform: translateY(1px);
}
.top_button::after {
  content: "\e946";
  font-family: xeicon !important;
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.top_button:hover::after {
  background-color: #000;
  color: #f2f2f2;
}
/* animation */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotatetext {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes leftMove {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}
