/* Fone Color */
:root {
  --black:#111;
  --white:#fff;
}
/* 프리텐다드:regular */
@font-face {
  font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('./woff2/Pretendard-Regular.woff2') format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}
/* 프리텐다드:Bold */
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('./woff2/Pretendard-Bold.woff2') format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Times New Roman', Times, serif;
  src: url(../font/Times.ttf);
  font-weight: 400;
}