/* main:section_1 */
.model_sub_text {
  font-size: 32px;
  margin-top: 20px;
  font-weight: 200;
}
/* marin:section_2 */
.sec_2_phantom {
  background: #191818;
}
.sec_2_phantom_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
.sec_2_phantom_inner div {
  margin-top: 10px;
}
.sec_2_phantom_inner div h3,
.sec_2_phantom_inner div p {
  font-family: "Gotham", sans-serif;
  text-align: center;
}
.sec_2_phantom_inner div h3 {
  font-size: 2.3rem;
}
.sec_2_phantom_inner div p {
  font-size: 1rem;
}
/* main:section_3 */
.sec_3_phantom {
  margin: 0;
  background: radial-gradient(#141e1f, #31474a);
}
.sec_3_inner_phantom {
  flex-direction: column;
}
.sec_3_inner_phantom h3 {
  font-size: 2.45rem;
}
.sec_3_inner_phantom p {
  font-size: 17px;
  line-height: 2.3rem;
  font-weight: 200;
}
/* marin:section_4 */
.sec_4_phantom {
  margin: 0;
}
.sec_4_inner .swiper-slide {
  width: 100%;
  height: 930px;
}
.sec_4_inner img {
  width: 100%;
}
.phantom_sec4_pagination {
  position: relative;
  padding-top: 80px;
}
/* marin:section_5 */
.sec_5_phantom {
  background: radial-gradient(#141e1f, #31474a);
  padding: 70px 0;
}
.sec_5_phantom_imgbox {
  display: flex;
  justify-content: space-between;
}
.sec_5_phantom_imgbox img {
  width: 750px;
}
.sec_5_phantom_imgbox img:last-child {
  transform: translateY(130px);
}
.sec_5_phantom_textbox {
  margin-top: 200px;
  text-align: center;
}
.sec_5_phantom_textbox h3 {
  font-size: 2.25rem;
}
.sec_5_phantom_textbox p {
  font-size: 17px;
  line-height: 2.3rem;
  font-weight: 200;
  margin-top: 38px;
}
/* main:section_6 */
.sec_6_out_design_box {
  margin-bottom: 150px;
}
.sec_6_phantom_text {
  text-align: center;
  margin-bottom: 150px;
}
.sec_6_phantom_sub_title {
  margin-bottom: 35px;
}
.sec_6_phantom_title {
  margin-bottom: 35px;
  font-size: 2.3em;
  color: #6b9c8b;
}
.sec_6_phantom_text p:last-child {
  font-size: 1.15rem;
  line-height: 2.3em;
}
.sec_6_out_contents {
  background: radial-gradient(#141e1f, #31474a);
  padding: 100px 0;
}
.sec_6_out_design,
.sec_6_in_design {
  width: 1596px;
  margin: 0 auto;
}
.sec_6_contents_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.sec_6_contents_inner:nth-of-type(2n) .sec_6_design_text {
  order: 1;
}
.sec_6_design_img {
  width: 1064px;
}
.sec_6_design_text {
  padding: 0 55px;
}
.sec_6_design_text h3 {
  font-size: 2em;
  line-height: 2em;
  padding-bottom: 30px;
}
.sec_6_design_text p {
  font-size: 17px;
  line-height: 1.5em;
  width: 300px;
  font-weight: 200;
}
.sec_6_design_img img {
  width: 100%;
}
.sec_6_in_contents {
  background: radial-gradient(#250008, #4e172a);
  padding: 100px 0;
}
.sec_6_in_design_box .sec_6_phantom_title {
  color: #bc3c6d;
}
/* main:section_7 */
.sec_7_phantom {
  margin: 50px 0;
}
.sec_7_inner_phantom {
  width: 1569px;
  margin: 0 auto;
}
.sec_7_text {
  text-align: center;
  margin: 80px 0;
}
.sec_7_text h3 {
  font-size: 2.45rem;
  padding-bottom: 20px;
}
.sec_7_text p {
  font-size: 17px;
  line-height: 2.3rem;
  font-weight: 200;
}
.sec_7_form {
  display: flex;
  justify-content: center;
}
.sec_7_form_left,
.sec_7_form_right {
  flex: 1;
}
.sec_7_form_left > div,
.sec_7_form_right > div {
  padding: 50px 130px;
}
.sec_7_form_left > div {
  float: right;
}
/* form */
.sec_7_form_title {
  font-size: 1.45em;
  padding-bottom: 20px;
}
.select_false_box {
  display: none;  
}
.sec_7_contents_text {
  font-size: 1.1em;
  font-weight: 300;
}
.sec_7_form label {
  margin-right: 12px;
}
.sec_7_form input[type="radio"], .sec_7_agree input[type=radio] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  transform: translateY(2px);
  margin: 0 7px;
}
.sec_7_form input[type="radio"]:checked, .sec_7_agree input[type=radio]:checked{
  background-color: #fff;
  outline-offset: max(2px, 0.1em);
  outline: max(1px, 0.1em) solid #fff;
}
.sec_7_select_box {
  width: 315px;
  border: 1px solid #fff;
  padding: 15px;
}
.showroom_box {
  z-index: 1;
}
.product_list li a,
.showroom_list li a {
  padding: 20px 15px;
}
.input_text {
  margin: 110px 0;
}
.sec_7_form_right > div .input_text:nth-of-type(1) {
  margin-top: 5px;
}
.input_text input {
  border-style: none;
  appearance: none;
  width: 315px;
  border-bottom: 1px solid #d8d8d8;
  height: 55px;
  background-color: transparent;
  color: #fff;
  outline: none;
}
.input_text input::placeholder {
  font-size: 1.1em;
  font-weight: 300;
  color: #e3e3e3;
  opacity: 1;
  transition: 0.3s;
}
.input_text input:focus {
  border-bottom: 1px solid #fff;
}
.input_text input:focus::placeholder {
  opacity: 3;
  transform: translateY(-18px);
  font-size: 0.95em;
}
.sec_7_map iframe {
  width: 100%;
  height: 1000px;
  margin-bottom: 30px;
}
.sec_7_agree {
  margin: 50px 0;
}
.sec_7_agree > div {
  margin: 50px 0;
}
.sec_7_title {
  font-size: 1.3em;
  padding-bottom: 35px;
}
.sec_7_essential:after {
  content: '*';
}
.sec_7_agree > div:first-child h3 {
  border-bottom: 1px solid #eee;
}
.sec_7_agree > div:first-child p {
  padding-top: 35px;
}
.sec_7_agree p {
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5em;
}
.all_check {
  border: 1px solid #707070;
  background: #1b1b1b;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}
.sec_7_agree div:nth-of-type(2) > div input[type="checkbox"] {
  vertical-align: middle;
  transform: translateY(-1px);
}
.sec_7_agre_contents{
  display: flex;
  justify-content: space-between;
}
.sec_7_more, .sec_7_agree_inputbox, .sec_7_agree_inputbox input[type=radio] {
  cursor: pointer;
}
.sec_7_more::after {
  content: "\e93f";
  font-family: xeicon !important;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-1px);
}
.sec_7_agree_inputbox {
  margin-right: 15px;
}
.choice_agree{
  margin: 0 0 35px 5px;
}
.submit_button {
  text-align: center;
  margin: 100px 0;
}
.submit_button input[type=submit] {
  border: 1px solid #fff;
  padding: 20px;
  width: 300px;
  background: transparent;
  color: #fff;
  font-size: 1.35em;
  transition: .3s;
} 
.submit_button input[type=submit]:hover {
  color: #000;
  background: #eee;
}