#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* header:Main_menu */
.navi {
  width: 100%;
}
.m_menu {
  width: 1596px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  margin: auto;
  border-bottom: 0.5px solid #fff;
}
.m_menu_contents {
  display: flex;
}
.m_center_menu {
  transform: translateX(-195px);
}
.m_left_menu li {
  width: 200px;
}
.m_left_menu li:nth-of-type(1), .s_left_menu ul:nth-of-type(1) li {
  width: 160px;
}
.m_menu li a {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  color: #eeeeee;
}
.m_menu li a:hover {
  color: #fff;
}
.m_menu ul:nth-of-type(2) li a {
  font-size: 13px;
}
.m_menu img {
  width: 30px;
}
.m_right_menu li:nth-of-type(1) {
  margin-right: 40px;
}
.m_menu.active {
  border-bottom: none;
}
/* header:Sub_menu */
.s_menu{
  width: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.65);
  height: 322px;
}
.s_menu_inner {
  width: 1596px;
  margin: auto;
  padding: 25px 35px;
  overflow: hidden;
}
.s_menu_inner li a {
  padding: 10px 0;
  font-size: 14px;
  display: inline-block;
}
.s_menu_inner li a:hover {
  text-decoration: underline;
}
.s_left_menu,
.s_right_menu {
  display: flex;
  float: left;
}
.s_right_menu {
  float: right;
}
.s_left_menu li {
  width: 200px;
}
.s_right_menu ul:nth-of-type(1) {
  margin-right: 63px;
}
/* main:Section_1 */
video[poster] {
  width: 100%;
  height: 100%;
}
.model_text {
  position: absolute;
  left: 10%;
}
.model_info {
  top: 30%;
}
.model_title {
  font-family: "Raleway";
  font-size: 65px;
  font-weight: 300;
}
.model_more {
  bottom: 10%;
}
.model_more span {
  margin-right: 5px;
}
.model_more span::after {
  content: ">";
  margin-left: 2px;
}
.model_more a {
  font-size: 15px;
  font-weight: 300;
}
.sec_1_bg.active {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.85);
}
/* main:Section_2 */
.sec_2_inner {
  width: 1596px;
  padding: 50px 0;
  margin: auto;
}
.sec_2_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.sec_2_title h2,
.sec_5 h2 {
  font-size: 35px;
  font-family: "Raleway";
  font-weight: 300;
}
.select_box {
  padding: 10px;
  border-bottom: 1px solid #fff;
  width: 200px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.select_title {
  position: relative;
}
.select_title:after {
  content: "\e942";
  font-family: xeicon !important;
  font-weight: 400;
  position: absolute;
  right: 5px;
}
.select_title.active:after {
  transform: rotate(180deg);
}
.select_list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  margin-top: 2px;
  display: none;
}
.select_list li {
  border-bottom: 1px solid #333;
}
.select_list li:last-child {
  border: none;
}
.select_list li a {
  display: block;
  padding: 12px 10px;
  background-color: #111;
  text-align: left;
  color: #555;
}
.select_list li a:hover {
  color: #eee;
}
.sec_2_swiper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 70px 0;
}
.procut_box {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #000;
}
.procut_box img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.procut_box:hover > img {
  opacity: 0.45;
  transition: 0.25s;
}
.product_info h3 {
  position: absolute;
  text-transform: uppercase;
  top: 7%;
  left: 5%;
  font-size: 35px;
  font-family: "Raleway";
}
.product_info a {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: block;
  border: 1px solid #eee;
  font-size: 17px;
  width: 85%;
  height: 50px;
  line-height: 50px;
}
.product_info a:hover {
  transition: color 0.25s ease-out;
  background-color: #eee;
  color: #000;
}
/* main:Section_3 */
.sec_3 {
  background: #222;
  margin: 50px 0;
}
.sec_3_inner {
  width: 1596px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sec_3_inner > div {
  cursor: pointer;
  transition: 0.25s;
}
.sec_3_inner > div:hover {
  transform: scale(1.25);
}
.sec_3_inner img {
  width: 95px;
  margin-bottom: 30px;
}
.sec_3_inner p {
  text-align: center;
}
/* main:Section_4 */
.sec_4 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 250px 0;
}
.sec_4 .sec_4_swiper:not(.s1){
  width: 26%;
}
.sec_4 .s1  {
  width: 65%;
  margin-right: 80px;
}
.sec_4 .s2 .swiper-slide{
  flex-direction: column;
}
.sec_4 .s1 img {
  height: 100%;
  width: 100%;
}
.sec_4 .s2 {
  height: 358px;
}
.sec_4 .s2 h3 {
  font-family: 'Raleway';
  font-size: 26px;
  margin-bottom: 20px;
}
.sec_4 .s2 p{
  line-height: 1.7em;
  font-size: 14px;
}
.sec_4 .s3 {
  margin-left: 80px;
}
.sec_4 .s3 img {
  height: 358px;
}
.sec_4_text {
  width: 350px;
  height: 358px;
}
/* main:Section_5 */
.sec_5 {
  margin: 150px 0;
}
.sec_5_inner {
  width: 1596px;
  margin: auto;
}
.sec_5_inner h2 {
  margin-bottom: 45px;
}
.sec_5_box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.sec_5_imgbox {
  width: 480px;
  height: 340px;
  overflow: hidden;
}
.sec_5_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.28s ease-in-out;
}
.sec_5_contents:hover img {
  transform: scale(1.2);
  opacity: 0.3;
}
.contents_line {
  border-left: 1px solid #eee;
  height: 180px;
}
.contents_line h3 {
  font-size: 26px;
  padding: 20px;
}
.contents_line p {
  font-size: 15px;
  line-height: 1.6em;
  margin-left: 20px;
  width: 460px;
}
/* footer:top */
.footer_top_outter {
  background: #222;
  padding: 50px 0;
  margin-top: 70px;
}
.footer_top,
.footer_middle,
.footer_bottom {
  width: 1596px;
  margin: auto;
}
.footer_top {
  display: flex;
  justify-content: space-between;
}
.footer_menu {
  text-transform: uppercase;
}
.footer_menu h3 {
  padding: 25px 0;
}
.footer_menu li {
  padding: 15px 0;
}
.footer_menu li a {
  color: #999;
  transition: 0.35s;
}
.footer_menu li a:hover {
  text-decoration: underline;
}
/* footer:middle */
.footer_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
  padding: 28px 0;
}
.policy {
  display: flex;
  justify-content: space-between;
}
.policy li:after {
  content: "";
  width: 1px;
  height: 15px;
  display: inline-block;
  background-color: #222;
  margin: 0 10px;
  vertical-align: middle;
  transform: translateY(-1px);
}
.policy li:last-child::after {
  display: none;
}
.policy li a {
  color: #999;
  font-size: 14px;
  margin: 0 20px;
}
.policy li:first-child a {
  margin-left: 0;
}
.policy li a:hover,
.footer_sns span:hover {
  color: #eee;
}
.footer_sns span {
  font-size: 26px;
  margin-left: 20px;
  color: #555;
  cursor: pointer;
}
/* footer:bottom */
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
  padding: 28px 0;
}
.footer_bottom p {
  text-transform: uppercase;
  color: #999;
}
.language {
  width: 135px;
  border: none;
}
/* footer:logo */
.footer_logo {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.footer_logo img {
  width: 200px;
}
/* swiper */
.mySwiper .swiper-pagination-bullet {
  border: 1px solid #fff;
}
:root {
  --swiper-theme-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-horizontal-gap: 12px;
}
.mySwiper swiper-slide {
  background-color: #000;
}
